body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
  }
  
  .navbar {
    background-color: #0033ff;
    border-radius: 2px;
    max-width: 800px;
  }
  
  .navbar a {
    color: rgb(255, 0, 0);
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #ff0000;
  }
  .kartinka{
    max-width: 1110px;
    max-height: 866px;
  }